<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487582615587-47givtu30ajrj1cmetggn98bqvfd74t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487582615587-47givtu30ajrj1cmetggn98bqvfd74t5</string>
	<key>API_KEY</key>
	<string>AIzaSyDkYor9D_yE5lzwRImvedk9ZdJpxrR4eJg</string>
	<key>GCM_SENDER_ID</key>
	<string>487582615587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-e1218</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-e1218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487582615587:ios:837a23092ee732cf5dc996</string>
</dict>
</plist>